.header {
  background-color: $pink;
  height: 50px;
  @media (min-width: $desktop) {
    height: 117px;
  }
}

.header-title {
  color: $pink-light;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  @media (min-width: $desktop) {
    font-size: 59.63px;
    margin-top: 40px;
  }
}

.header-menu-wrapper {
  background-color: $grey-dark;
  @media (min-width: $desktop) {
    background-color: transparent;
  }
}

.header-menu {
  float: left;
  display: block;
  line-height: 30px;
  width: 100%;
  @media (min-width: $desktop) {
    float: right;
    display: inline;
    line-height: auto;
    width: auto;
  }
}

.menu-text {
  text-decoration: none;
}

.header-menu-item {
  display: block;
  border-bottom: 1px solid $grey-darker;
  &:hover {
    background-color: $grey-darker;
  }
  @media (min-width: $desktop) {
    display: inline;
    border-bottom: 0px;
    &:hover {
      background-color: transparent;
    }
  }
}

.header-menu-main {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
  @media (min-width: $desktop) {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.header-main-menu-text {
  color: white;
  &:hover {
    opacity: 0.7;
  }
  @media (min-width: $desktop) {
    &:hover {
      color: $grey-black;
      opacity: 1;
    }
  }
}

.dropdown-menu {
  padding-left: 10px;
  position: relative;
  @media (min-width: $desktop) {
    &:hover {
      .dropdown-content {
        opacity: 1;
      }
      .header-menu-item:first-child .dropdown-menu-text:after {
        content: '';
        position: absolute;
        left: 65px;
        top: -8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid $grey-dark;
      }
    }
  }
}

.dropdown-menu-text {
  padding-left: 10px;
  color: white;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  display: block;
  &:hover {
    background-color: $grey-darker;
    color: white;
  }
  @media (min-width: $desktop) {
    font-size: 12px;
  }
}

.dropdown-content {
  opacity: 1;
  position: relative;
  background-color: $grey-light3;
  min-width: 150px;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: $desktop) {
    background-color: $grey-dark;
    z-index: 250;
    margin-top: 10px;
    opacity: 0;
    position: absolute;
  }
}

.header-menu-secondary {
  font-size: 14px;
  margin-top: 10px;
  @media (min-width: $desktop) {
    margin-top: 24px;
  }
}

.menu-secondary-text {
  padding: 10px;
  color: white;
  &:hover {
    opacity: 0.7;
  }
  @media (min-width: $desktop) {
    padding: 0 0 0 5px;
    color: black;
  }
}

.header-menu-icon {
  float: right;
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 5px 10px;
  @media (min-width: $desktop) {
    display: none;
  }
}

.hidden-for-mobile {
  @media (max-width: 1199px) {
    display: none;
  }
}
