$tablet: 740px;
$desktop: 1200px;

$pink: #d3135a;
$pink-light: #ffc2dd;
$grey-light1: #e6e6e6;
$grey-light2: #b3b3b3;
$grey-light3: #898989;
$grey: #cccccc;
$grey-darker: #666666;
$grey-dark:#4d4d4d;
$grey-black: #333333;
$black-ligher: #010101;

$blue-link: #0071bc;
